body
{
	font-family: Arial;
}
#index ul li
{
	color: #00FF00;
}
#index ul li a
{
	font-family: lucida console;
	font-size: 1.0em;
	text-decoration: none;
	color: #00A000;
}
#index span.label
{
	font-size: 1.1em;
	color: #00FF00;
	text-decoration: none;
}

#index a
{
	font-size: 1.1em;
	color: #FFFFFF;
	text-decoration: none;
}

#content span.highlight-code
{
	font-family: lucida console;
	font-size: 1.0em;
	color: #00FF00;
	font-weight: bold;
	background-color: #000000;
	padding: 0px 1px;
}

#content ul li
{
	margin-bottom: 5px;
}

#content .doc-title
{
	font-size: 2.0em;
	font-family: Arial;
	text-align: center;
	border: 2px solid #000000;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #FFFF00;
}

.codeblock
{
	background-color: #000000;
	color: #FFFFFF;
	font-family: courier new;
	font-size: 0.8em;

	width: auto;
	overflow-x: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

	white-space: pre;
	margin-top: 15px;
}
			
.codeblock .keyword
{
	color: #00FF00;
	font-weight: bold;
}
.codeblock .operator
{
	color: #FFFF00;
	font-weight: bold;
}
.codeblock .number
{
	color: #FF00FF;
}
.codeblock .preprocessor
{
	background-color: #009000;
	color: #000000;
}
.codeblock .string
{
	color: #FF0000;
}
.codeblock .comment
{
	color: #80FFFF;
}
